@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

.container {
    position: absolute;
    width: 1024px;
    height: 576px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-health-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border: 4px solid white;
    border-right: transparent;
}

.player-health {
    position: absolute;
    height: 30px;
    background: #b18cf8;
    width: 100%;
    z-index: 2;
    transition: all .2s;
}

.player-health-red {
    height: 30px;
    background: red;
    width: 100%;
    z-index: 1;
}

.enemy-health-container {
    position: relative;
    width: 100%;
    border: 4px solid white;
    border-left: transparent;
}

.enemy-health {
    position: absolute;
    height: 30px;
    width: 100%;
    background: #b18cf8;
    z-index: 2;
    transition: all .5s;
}

.enemy-health-red {
    width: 100%;
    height: 30px;
    background: red;
    z-index: 1;
}

.timer {
    background: black;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
}

.message {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#canvas1 {
    background: white;
}